@font-face {
  font-family: Marcellus;
  src: url("marcellus-regular-webfont.woff2") format("woff2"),
    url("marcellus-regular-webfont.woff") format("woff");
}
p {
  font-family: "Marcellus";
}
.logo-background-container {
    width: 25vw;
    height: 100vh;
  background-image: url("./alai-photography-IB7lI5SDdQA-unsplash.jpg");
  background-size: cover;
  box-shadow: 1px 0px 5px black;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.logo {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 200px;

    

}
.logo-text {
    color:white;
    font-family: "marcellus";
    font-size: 50px;
    margin-right:60px;
}
.credit {
    color:white;
}
a {
    color:white;
}
body {
    display:flex;
}
.odin-logo {
    width: 20%;
}
.center-text {
    text-align: center;
}